svg.js-calendar-graph-svg
  g(transform='translate(0, 0)')
    circle.day(r='1.8%', fill='#7bc96f', data-count='5', data-date='2016-03-06')
    circle.day(r='1.8%', fill='#239a3b', data-count='11', data-date='2016-03-07')
    circle.day(r='1.8%', fill='#7bc96f', data-count='8', data-date='2016-03-08')
    circle.day(r='1.8%', fill='#7bc96f', data-count='8', data-date='2016-03-09')
    circle.day(r='1.8%', fill='#7bc96f', data-count='8', data-date='2016-03-10')
    circle.day(r='1.8%', fill='#7bc96f', data-count='5', data-date='2016-03-11')
    circle.day(r='1.8%', fill='#ffffff', data-count='0', data-date='2016-03-12')
  g(transform='translate(13, 0)')
    circle.day(r='1.8%', cx='12', cy='2%', fill='#ffffff', data-count='0', data-date='2016-03-13')
    circle.day(r='1.8%', cx='12', cy='16%', fill='#7bc96f', data-count='8', data-date='2016-03-14')
    circle.day(r='1.8%', cx='12', cy='76%', fill='#c6e48b', data-count='1', data-date='2016-03-15')
    circle.day(r='1.8%', cx='12', cy='58%', fill='#7bc96f', data-count='5', data-date='2016-03-16')
    circle.day(r='1.8%', cx='12', cy='62%', fill='#196127', data-count='16', data-date='2016-03-17')
    circle.day(r='1.8%', cx='12', cy='76%', fill='#7bc96f', data-count='8', data-date='2016-03-18')
    circle.day(r='1.8%', cx='12', cy='35%', fill='#ffffff', data-count='0', data-date='2016-03-19')
  g(transform='translate(26, 0)')
    circle.day(r='1.8%', cx='11', cy='2%', fill='#c6e48b', data-count='1', data-date='2016-03-20')
    circle.day(r='1.8%', cx='11', cy='16%', fill='#196127', data-count='14', data-date='2016-03-21')
    circle.day(r='1.8%', cx='11', cy='76%', fill='#7bc96f', data-count='8', data-date='2016-03-22')
    circle.day(r='1.8%', cx='11', cy='58%', fill='#196127', data-count='15', data-date='2016-03-23')
    circle.day(r='1.8%', cx='11', cy='62%', fill='#7bc96f', data-count='8', data-date='2016-03-24')
    circle.day(r='1.8%', cx='11', cy='76%', fill='#ffffff', data-count='0', data-date='2016-03-25')
    circle.day(r='1.8%', cx='11', cy='35%', fill='#ffffff', data-count='0', data-date='2016-03-26')
  g(transform='translate(39, 0)')
    circle.day(r='1.8%', cx='10', cy='2%', fill='#ffffff', data-count='0', data-date='2016-03-27')
    circle.day(r='1.8%', cx='10', cy='16%', fill='#c6e48b', data-count='3', data-date='2016-03-28')
    circle.day(r='1.8%', cx='10', cy='76%', fill='#7bc96f', data-count='5', data-date='2016-03-29')
    circle.day(r='1.8%', cx='10', cy='58%', fill='#7bc96f', data-count='6', data-date='2016-03-30')
    circle.day(r='1.8%', cx='10', cy='62%', fill='#239a3b', data-count='10', data-date='2016-03-31')
    circle.day(r='1.8%', cx='10', cy='76%', fill='#7bc96f', data-count='7', data-date='2016-04-01')
    circle.day(r='1.8%', cx='10', cy='35%', fill='#ffffff', data-count='0', data-date='2016-04-02')
  g(transform='translate(52, 0)')
    circle.day(r='1.8%', cx='9', cy='2%', fill='#c6e48b', data-count='3', data-date='2016-04-03')
    circle.day(r='1.8%', cx='9', cy='16%', fill='#7bc96f', data-count='5', data-date='2016-04-04')
    circle.day(r='1.8%', cx='9', cy='76%', fill='#239a3b', data-count='11', data-date='2016-04-05')
    circle.day(r='1.8%', cx='9', cy='58%', fill='#c6e48b', data-count='2', data-date='2016-04-06')
    circle.day(r='1.8%', cx='9', cy='62%', fill='#196127', data-count='18', data-date='2016-04-07')
    circle.day(r='1.8%', cx='9', cy='76%', fill='#239a3b', data-count='11', data-date='2016-04-08')
    circle.day(r='1.8%', cx='9', cy='35%', fill='#c6e48b', data-count='1', data-date='2016-04-09')
  g(transform='translate(65, 0)')
    circle.day(r='1.8%', cx='8', cy='2%', fill='#c6e48b', data-count='2', data-date='2016-04-10')
    circle.day(r='1.8%', cx='8', cy='16%', fill='#239a3b', data-count='10', data-date='2016-04-11')
    circle.day(r='1.8%', cx='8', cy='76%', fill='#239a3b', data-count='10', data-date='2016-04-12')
    circle.day(r='1.8%', cx='8', cy='58%', fill='#239a3b', data-count='12', data-date='2016-04-13')
    circle.day(r='1.8%', cx='8', cy='62%', fill='#7bc96f', data-count='5', data-date='2016-04-14')
    circle.day(r='1.8%', cx='8', cy='76%', fill='#239a3b', data-count='10', data-date='2016-04-15')
    circle.day(r='1.8%', cx='8', cy='35%', fill='#ffffff', data-count='0', data-date='2016-04-16')
  g(transform='translate(78, 0)')
    circle.day(r='1.8%', cx='7', cy='2%', fill='#c6e48b', data-count='4', data-date='2016-04-17')
    circle.day(r='1.8%', cx='7', cy='16%', fill='#7bc96f', data-count='7', data-date='2016-04-18')
    circle.day(r='1.8%', cx='7', cy='76%', fill='#7bc96f', data-count='9', data-date='2016-04-19')
    circle.day(r='1.8%', cx='7', cy='58%', fill='#239a3b', data-count='12', data-date='2016-04-20')
    circle.day(r='1.8%', cx='7', cy='62%', fill='#196127', data-count='22', data-date='2016-04-21')
    circle.day(r='1.8%', cx='7', cy='76%', fill='#7bc96f', data-count='5', data-date='2016-04-22')
    circle.day(r='1.8%', cx='7', cy='35%', fill='#ffffff', data-count='0', data-date='2016-04-23')
  g(transform='translate(91, 0)')
    circle.day(r='1.8%', cx='6', cy='2%', fill='#c6e48b', data-count='2', data-date='2016-04-24')
    circle.day(r='1.8%', cx='6', cy='16%', fill='#239a3b', data-count='12', data-date='2016-04-25')
    circle.day(r='1.8%', cx='6', cy='76%', fill='#239a3b', data-count='11', data-date='2016-04-26')
    circle.day(r='1.8%', cx='6', cy='58%', fill='#239a3b', data-count='13', data-date='2016-04-27')
    circle.day(r='1.8%', cx='6', cy='62%', fill='#196127', data-count='16', data-date='2016-04-28')
    circle.day(r='1.8%', cx='6', cy='76%', fill='#196127', data-count='21', data-date='2016-04-29')
    circle.day(r='1.8%', cx='6', cy='35%', fill='#c6e48b', data-count='1', data-date='2016-04-30')
  g(transform='translate(104, 0)')
    circle.day(r='1.8%', cx='5', cy='2%', fill='#ffffff', data-count='0', data-date='2016-05-01')
    circle.day(r='1.8%', cx='5', cy='16%', fill='#c6e48b', data-count='2', data-date='2016-05-02')
    circle.day(r='1.8%', cx='5', cy='76%', fill='#ffffff', data-count='0', data-date='2016-05-03')
    circle.day(r='1.8%', cx='5', cy='58%', fill='#7bc96f', data-count='7', data-date='2016-05-04')
    circle.day(r='1.8%', cx='5', cy='62%', fill='#ffffff', data-count='0', data-date='2016-05-05')
    circle.day(r='1.8%', cx='5', cy='76%', fill='#ffffff', data-count='0', data-date='2016-05-06')
    circle.day(r='1.8%', cx='5', cy='35%', fill='#ffffff', data-count='0', data-date='2016-05-07')
  g(transform='translate(117, 0)')
    circle.day(r='1.8%', cx='4', cy='2%', fill='#ffffff', data-count='0', data-date='2016-05-08')
    circle.day(r='1.8%', cx='4', cy='16%', fill='#ffffff', data-count='0', data-date='2016-05-09')
    circle.day(r='1.8%', cx='4', cy='76%', fill='#196127', data-count='15', data-date='2016-05-10')
    circle.day(r='1.8%', cx='4', cy='58%', fill='#196127', data-count='17', data-date='2016-05-11')
    circle.day(r='1.8%', cx='4', cy='62%', fill='#239a3b', data-count='12', data-date='2016-05-12')
    circle.day(r='1.8%', cx='4', cy='76%', fill='#7bc96f', data-count='6', data-date='2016-05-13')
    circle.day(r='1.8%', cx='4', cy='35%', fill='#ffffff', data-count='0', data-date='2016-05-14')
  g(transform='translate(130, 0)')
    circle.day(r='1.8%', cx='3', cy='2%', fill='#ffffff', data-count='0', data-date='2016-05-15')
    circle.day(r='1.8%', cx='3', cy='16%', fill='#c6e48b', data-count='4', data-date='2016-05-16')
    circle.day(r='1.8%', cx='3', cy='76%', fill='#7bc96f', data-count='9', data-date='2016-05-17')
    circle.day(r='1.8%', cx='3', cy='58%', fill='#7bc96f', data-count='6', data-date='2016-05-18')
    circle.day(r='1.8%', cx='3', cy='62%', fill='#c6e48b', data-count='2', data-date='2016-05-19')
    circle.day(r='1.8%', cx='3', cy='76%', fill='#ffffff', data-count='0', data-date='2016-05-20')
    circle.day(r='1.8%', cx='3', cy='35%', fill='#ffffff', data-count='0', data-date='2016-05-21')
  g(transform='translate(143, 0)')
    circle.day(r='1.8%', cx='2', cy='2%', fill='#ffffff', data-count='0', data-date='2016-05-22')
    circle.day(r='1.8%', cx='2', cy='16%', fill='#ffffff', data-count='0', data-date='2016-05-23')
    circle.day(r='1.8%', cx='2', cy='76%', fill='#7bc96f', data-count='6', data-date='2016-05-24')
    circle.day(r='1.8%', cx='2', cy='58%', fill='#7bc96f', data-count='8', data-date='2016-05-25')
    circle.day(r='1.8%', cx='2', cy='62%', fill='#c6e48b', data-count='2', data-date='2016-05-26')
    circle.day(r='1.8%', cx='2', cy='76%', fill='#7bc96f', data-count='5', data-date='2016-05-27')
    circle.day(r='1.8%', cx='2', cy='35%', fill='#ffffff', data-count='0', data-date='2016-05-28')
  g(transform='translate(156, 0)')
    circle.day(r='1.8%', cx='1', cy='2%', fill='#ffffff', data-count='0', data-date='2016-05-29')
    circle.day(r='1.8%', cx='1', cy='16%', fill='#7bc96f', data-count='8', data-date='2016-05-30')
    circle.day(r='1.8%', cx='1', cy='76%', fill='#7bc96f', data-count='8', data-date='2016-05-31')
    circle.day(r='1.8%', cx='1', cy='58%', fill='#196127', data-count='15', data-date='2016-06-01')
    circle.day(r='1.8%', cx='1', cy='62%', fill='#239a3b', data-count='10', data-date='2016-06-02')
    circle.day(r='1.8%', cx='1', cy='76%', fill='#c6e48b', data-count='2', data-date='2016-06-03')
    circle.day(r='1.8%', cx='1', cy='35%', fill='#ffffff', data-count='0', data-date='2016-06-04')
  g(transform='translate(169, 0)')
    circle.day(r='1.8%', cx='0', cy='2%', fill='#ffffff', data-count='0', data-date='2016-06-05')
    circle.day(r='1.8%', cx='0', cy='16%', fill='#7bc96f', data-count='9', data-date='2016-06-06')
    circle.day(r='1.8%', cx='0', cy='76%', fill='#239a3b', data-count='11', data-date='2016-06-07')
    circle.day(r='1.8%', cx='0', cy='58%', fill='#7bc96f', data-count='5', data-date='2016-06-08')
    circle.day(r='1.8%', cx='0', cy='62%', fill='#7bc96f', data-count='8', data-date='2016-06-09')
    circle.day(r='1.8%', cx='0', cy='76%', fill='#7bc96f', data-count='6', data-date='2016-06-10')
    circle.day(r='1.8%', cx='0', cy='35%', fill='#ffffff', data-count='0', data-date='2016-06-11')
  g(transform='translate(182, 0)')
    circle.day(r='1.8%', cx='-1', cy='2%', fill='#ffffff', data-count='0', data-date='2016-06-12')
    circle.day(r='1.8%', cx='-1', cy='16%', fill='#c6e48b', data-count='2', data-date='2016-06-13')
    circle.day(r='1.8%', cx='-1', cy='76%', fill='#ffffff', data-count='0', data-date='2016-06-14')
    circle.day(r='1.8%', cx='-1', cy='58%', fill='#7bc96f', data-count='5', data-date='2016-06-15')
    circle.day(r='1.8%', cx='-1', cy='62%', fill='#7bc96f', data-count='5', data-date='2016-06-16')
    circle.day(r='1.8%', cx='-1', cy='76%', fill='#c6e48b', data-count='1', data-date='2016-06-17')
    circle.day(r='1.8%', cx='-1', cy='35%', fill='#ffffff', data-count='0', data-date='2016-06-18')
  g(transform='translate(195, 0)')
    circle.day(r='1.8%', cx='-2', cy='2%', fill='#ffffff', data-count='0', data-date='2016-06-19')
    circle.day(r='1.8%', cx='-2', cy='16%', fill='#7bc96f', data-count='6', data-date='2016-06-20')
    circle.day(r='1.8%', cx='-2', cy='76%', fill='#ffffff', data-count='0', data-date='2016-06-21')
    circle.day(r='1.8%', cx='-2', cy='58%', fill='#7bc96f', data-count='5', data-date='2016-06-22')
    circle.day(r='1.8%', cx='-2', cy='62%', fill='#7bc96f', data-count='6', data-date='2016-06-23')
    circle.day(r='1.8%', cx='-2', cy='76%', fill='#7bc96f', data-count='8', data-date='2016-06-24')
    circle.day(r='1.8%', cx='-2', cy='35%', fill='#ffffff', data-count='0', data-date='2016-06-25')
  g(transform='translate(208, 0)')
    circle.day(r='1.8%', cx='-3', cy='2%', fill='#ffffff', data-count='0', data-date='2016-06-26')
    circle.day(r='1.8%', cx='-3', cy='16%', fill='#7bc96f', data-count='5', data-date='2016-06-27')
    circle.day(r='1.8%', cx='-3', cy='76%', fill='#c6e48b', data-count='2', data-date='2016-06-28')
    circle.day(r='1.8%', cx='-3', cy='58%', fill='#7bc96f', data-count='8', data-date='2016-06-29')
    circle.day(r='1.8%', cx='-3', cy='62%', fill='#7bc96f', data-count='5', data-date='2016-06-30')
    circle.day(r='1.8%', cx='-3', cy='76%', fill='#ffffff', data-count='0', data-date='2016-07-01')
    circle.day(r='1.8%', cx='-3', cy='35%', fill='#ffffff', data-count='0', data-date='2016-07-02')
  g(transform='translate(221, 0)')
    circle.day(r='1.8%', cx='-4', cy='2%', fill='#ffffff', data-count='0', data-date='2016-07-03')
    circle.day(r='1.8%', cx='-4', cy='16%', fill='#ffffff', data-count='0', data-date='2016-07-04')
    circle.day(r='1.8%', cx='-4', cy='76%', fill='#ffffff', data-count='0', data-date='2016-07-05')
    circle.day(r='1.8%', cx='-4', cy='58%', fill='#c6e48b', data-count='2', data-date='2016-07-06')
    circle.day(r='1.8%', cx='-4', cy='62%', fill='#c6e48b', data-count='3', data-date='2016-07-07')
    circle.day(r='1.8%', cx='-4', cy='76%', fill='#7bc96f', data-count='8', data-date='2016-07-08')
    circle.day(r='1.8%', cx='-4', cy='35%', fill='#ffffff', data-count='0', data-date='2016-07-09')
  g(transform='translate(234, 0)')
    circle.day(r='1.8%', cx='-5', cy='2%', fill='#ffffff', data-count='0', data-date='2016-07-10')
    circle.day(r='1.8%', cx='-5', cy='16%', fill='#c6e48b', data-count='4', data-date='2016-07-11')
    circle.day(r='1.8%', cx='-5', cy='76%', fill='#ffffff', data-count='0', data-date='2016-07-12')
    circle.day(r='1.8%', cx='-5', cy='58%', fill='#ffffff', data-count='0', data-date='2016-07-13')
    circle.day(r='1.8%', cx='-5', cy='62%', fill='#ffffff', data-count='0', data-date='2016-07-14')
    circle.day(r='1.8%', cx='-5', cy='76%', fill='#ffffff', data-count='0', data-date='2016-07-15')
    circle.day(r='1.8%', cx='-5', cy='35%', fill='#ffffff', data-count='0', data-date='2016-07-16')
  g(transform='translate(247, 0)')
    circle.day(r='1.8%', cx='-6', cy='2%', fill='#ffffff', data-count='0', data-date='2016-07-17')
    circle.day(r='1.8%', cx='-6', cy='16%', fill='#ffffff', data-count='0', data-date='2016-07-18')
    circle.day(r='1.8%', cx='-6', cy='76%', fill='#c6e48b', data-count='4', data-date='2016-07-19')
    circle.day(r='1.8%', cx='-6', cy='58%', fill='#7bc96f', data-count='6', data-date='2016-07-20')
    circle.day(r='1.8%', cx='-6', cy='62%', fill='#7bc96f', data-count='6', data-date='2016-07-21')
    circle.day(r='1.8%', cx='-6', cy='76%', fill='#7bc96f', data-count='8', data-date='2016-07-22')
    circle.day(r='1.8%', cx='-6', cy='35%', fill='#ffffff', data-count='0', data-date='2016-07-23')
  g(transform='translate(260, 0)')
    circle.day(r='1.8%', cx='-7', cy='2%', fill='#ffffff', data-count='0', data-date='2016-07-24')
    circle.day(r='1.8%', cx='-7', cy='16%', fill='#c6e48b', data-count='2', data-date='2016-07-25')
    circle.day(r='1.8%', cx='-7', cy='76%', fill='#c6e48b', data-count='3', data-date='2016-07-26')
    circle.day(r='1.8%', cx='-7', cy='58%', fill='#c6e48b', data-count='1', data-date='2016-07-27')
    circle.day(r='1.8%', cx='-7', cy='62%', fill='#7bc96f', data-count='6', data-date='2016-07-28')
    circle.day(r='1.8%', cx='-7', cy='76%', fill='#ffffff', data-count='0', data-date='2016-07-29')
    circle.day(r='1.8%', cx='-7', cy='35%', fill='#ffffff', data-count='0', data-date='2016-07-30')
  g(transform='translate(273, 0)')
    circle.day(r='1.8%', cx='-8', cy='2%', fill='#ffffff', data-count='0', data-date='2016-07-31')
    circle.day(r='1.8%', cx='-8', cy='16%', fill='#ffffff', data-count='0', data-date='2016-08-01')
    circle.day(r='1.8%', cx='-8', cy='76%', fill='#c6e48b', data-count='4', data-date='2016-08-02')
    circle.day(r='1.8%', cx='-8', cy='58%', fill='#c6e48b', data-count='4', data-date='2016-08-03')
    circle.day(r='1.8%', cx='-8', cy='62%', fill='#7bc96f', data-count='5', data-date='2016-08-04')
    circle.day(r='1.8%', cx='-8', cy='76%', fill='#239a3b', data-count='13', data-date='2016-08-05')
    circle.day(r='1.8%', cx='-8', cy='35%', fill='#ffffff', data-count='0', data-date='2016-08-06')
  g(transform='translate(286, 0)')
    circle.day(r='1.8%', cx='-9', cy='2%', fill='#ffffff', data-count='0', data-date='2016-08-07')
    circle.day(r='1.8%', cx='-9', cy='16%', fill='#c6e48b', data-count='3', data-date='2016-08-08')
    circle.day(r='1.8%', cx='-9', cy='76%', fill='#c6e48b', data-count='4', data-date='2016-08-09')
    circle.day(r='1.8%', cx='-9', cy='58%', fill='#7bc96f', data-count='7', data-date='2016-08-10')
    circle.day(r='1.8%', cx='-9', cy='62%', fill='#c6e48b', data-count='4', data-date='2016-08-11')
    circle.day(r='1.8%', cx='-9', cy='76%', fill='#c6e48b', data-count='2', data-date='2016-08-12')
    circle.day(r='1.8%', cx='-9', cy='35%', fill='#ffffff', data-count='0', data-date='2016-08-13')
  g(transform='translate(299, 0)')
    circle.day(r='1.8%', cx='-10', cy='2%', fill='#ffffff', data-count='0', data-date='2016-08-14')
    circle.day(r='1.8%', cx='-10', cy='16%', fill='#c6e48b', data-count='1', data-date='2016-08-15')
    circle.day(r='1.8%', cx='-10', cy='76%', fill='#7bc96f', data-count='6', data-date='2016-08-16')
    circle.day(r='1.8%', cx='-10', cy='58%', fill='#c6e48b', data-count='1', data-date='2016-08-17')
    circle.day(r='1.8%', cx='-10', cy='62%', fill='#ffffff', data-count='0', data-date='2016-08-18')
    circle.day(r='1.8%', cx='-10', cy='76%', fill='#c6e48b', data-count='1', data-date='2016-08-19')
    circle.day(r='1.8%', cx='-10', cy='35%', fill='#ffffff', data-count='0', data-date='2016-08-20')
  g(transform='translate(312, 0)')
    circle.day(r='1.8%', cx='-11', cy='2%', fill='#ffffff', data-count='0', data-date='2016-08-21')
    circle.day(r='1.8%', cx='-11', cy='16%', fill='#ffffff', data-count='0', data-date='2016-08-22')
    circle.day(r='1.8%', cx='-11', cy='76%', fill='#c6e48b', data-count='1', data-date='2016-08-23')
    circle.day(r='1.8%', cx='-11', cy='58%', fill='#7bc96f', data-count='5', data-date='2016-08-24')
    circle.day(r='1.8%', cx='-11', cy='62%', fill='#c6e48b', data-count='2', data-date='2016-08-25')
    circle.day(r='1.8%', cx='-11', cy='76%', fill='#c6e48b', data-count='2', data-date='2016-08-26')
    circle.day(r='1.8%', cx='-11', cy='35%', fill='#c6e48b', data-count='1', data-date='2016-08-27')
  g(transform='translate(325, 0)')
    circle.day(r='1.8%', cx='-12', cy='2%', fill='#ffffff', data-count='0', data-date='2016-08-28')
    circle.day(r='1.8%', cx='-12', cy='16%', fill='#ffffff', data-count='0', data-date='2016-08-29')
    circle.day(r='1.8%', cx='-12', cy='76%', fill='#ffffff', data-count='0', data-date='2016-08-30')
    circle.day(r='1.8%', cx='-12', cy='58%', fill='#c6e48b', data-count='1', data-date='2016-08-31')
    circle.day(r='1.8%', cx='-12', cy='62%', fill='#c6e48b', data-count='4', data-date='2016-09-01')
    circle.day(r='1.8%', cx='-12', cy='76%', fill='#ffffff', data-count='0', data-date='2016-09-02')
    circle.day(r='1.8%', cx='-12', cy='35%', fill='#ffffff', data-count='0', data-date='2016-09-03')
  g(transform='translate(338, 0)')
    circle.day(r='1.8%', cx='-13', cy='2%', fill='#ffffff', data-count='0', data-date='2016-09-04')
    circle.day(r='1.8%', cx='-13', cy='16%', fill='#ffffff', data-count='0', data-date='2016-09-05')
    circle.day(r='1.8%', cx='-13', cy='76%', fill='#ffffff', data-count='0', data-date='2016-09-06')
    circle.day(r='1.8%', cx='-13', cy='58%', fill='#ffffff', data-count='0', data-date='2016-09-07')
    circle.day(r='1.8%', cx='-13', cy='62%', fill='#ffffff', data-count='0', data-date='2016-09-08')
    circle.day(r='1.8%', cx='-13', cy='76%', fill='#ffffff', data-count='0', data-date='2016-09-09')
    circle.day(r='1.8%', cx='-13', cy='35%', fill='#ffffff', data-count='0', data-date='2016-09-10')
  g(transform='translate(351, 0)')
    circle.day(r='1.8%', cx='-14', cy='2%', fill='#ffffff', data-count='0', data-date='2016-09-11')
    circle.day(r='1.8%', cx='-14', cy='16%', fill='#ffffff', data-count='0', data-date='2016-09-12')
    circle.day(r='1.8%', cx='-14', cy='76%', fill='#c6e48b', data-count='1', data-date='2016-09-13')
    circle.day(r='1.8%', cx='-14', cy='58%', fill='#7bc96f', data-count='6', data-date='2016-09-14')
    circle.day(r='1.8%', cx='-14', cy='62%', fill='#c6e48b', data-count='2', data-date='2016-09-15')
    circle.day(r='1.8%', cx='-14', cy='76%', fill='#7bc96f', data-count='9', data-date='2016-09-16')
    circle.day(r='1.8%', cx='-14', cy='35%', fill='#ffffff', data-count='0', data-date='2016-09-17')
  g(transform='translate(364, 0)')
    circle.day(r='1.8%', cx='-15', cy='2%', fill='#ffffff', data-count='0', data-date='2016-09-18')
    circle.day(r='1.8%', cx='-15', cy='16%', fill='#c6e48b', data-count='3', data-date='2016-09-19')
    circle.day(r='1.8%', cx='-15', cy='76%', fill='#c6e48b', data-count='2', data-date='2016-09-20')
    circle.day(r='1.8%', cx='-15', cy='58%', fill='#c6e48b', data-count='2', data-date='2016-09-21')
    circle.day(r='1.8%', cx='-15', cy='62%', fill='#ffffff', data-count='0', data-date='2016-09-22')
    circle.day(r='1.8%', cx='-15', cy='76%', fill='#c6e48b', data-count='1', data-date='2016-09-23')
    circle.day(r='1.8%', cx='-15', cy='35%', fill='#ffffff', data-count='0', data-date='2016-09-24')
  g(transform='translate(377, 0)')
    circle.day(r='1.8%', cx='-16', cy='2%', fill='#ffffff', data-count='0', data-date='2016-09-25')
    circle.day(r='1.8%', cx='-16', cy='16%', fill='#c6e48b', data-count='2', data-date='2016-09-26')
    circle.day(r='1.8%', cx='-16', cy='76%', fill='#c6e48b', data-count='2', data-date='2016-09-27')
    circle.day(r='1.8%', cx='-16', cy='58%', fill='#c6e48b', data-count='4', data-date='2016-09-28')
    circle.day(r='1.8%', cx='-16', cy='62%', fill='#c6e48b', data-count='4', data-date='2016-09-29')
    circle.day(r='1.8%', cx='-16', cy='76%', fill='#7bc96f', data-count='7', data-date='2016-09-30')
    circle.day(r='1.8%', cx='-16', cy='35%', fill='#ffffff', data-count='0', data-date='2016-10-01')
  g(transform='translate(390, 0)')
    circle.day(r='1.8%', cx='-17', cy='2%', fill='#ffffff', data-count='0', data-date='2016-10-02')
    circle.day(r='1.8%', cx='-17', cy='16%', fill='#c6e48b', data-count='2', data-date='2016-10-03')
    circle.day(r='1.8%', cx='-17', cy='76%', fill='#c6e48b', data-count='1', data-date='2016-10-04')
    circle.day(r='1.8%', cx='-17', cy='58%', fill='#ffffff', data-count='0', data-date='2016-10-05')
    circle.day(r='1.8%', cx='-17', cy='62%', fill='#7bc96f', data-count='7', data-date='2016-10-06')
    circle.day(r='1.8%', cx='-17', cy='76%', fill='#7bc96f', data-count='5', data-date='2016-10-07')
    circle.day(r='1.8%', cx='-17', cy='35%', fill='#ffffff', data-count='0', data-date='2016-10-08')
  g(transform='translate(403, 0)')
    circle.day(r='1.8%', cx='-18', cy='2%', fill='#ffffff', data-count='0', data-date='2016-10-09')
    circle.day(r='1.8%', cx='-18', cy='16%', fill='#ffffff', data-count='0', data-date='2016-10-10')
    circle.day(r='1.8%', cx='-18', cy='76%', fill='#ffffff', data-count='0', data-date='2016-10-11')
    circle.day(r='1.8%', cx='-18', cy='58%', fill='#7bc96f', data-count='5', data-date='2016-10-12')
    circle.day(r='1.8%', cx='-18', cy='62%', fill='#7bc96f', data-count='6', data-date='2016-10-13')
    circle.day(r='1.8%', cx='-18', cy='76%', fill='#c6e48b', data-count='4', data-date='2016-10-14')
    circle.day(r='1.8%', cx='-18', cy='35%', fill='#ffffff', data-count='0', data-date='2016-10-15')
  g(transform='translate(416, 0)')
    circle.day(r='1.8%', cx='-19', cy='2%', fill='#ffffff', data-count='0', data-date='2016-10-16')
    circle.day(r='1.8%', cx='-19', cy='16%', fill='#7bc96f', data-count='7', data-date='2016-10-17')
    circle.day(r='1.8%', cx='-19', cy='76%', fill='#c6e48b', data-count='1', data-date='2016-10-18')
    circle.day(r='1.8%', cx='-19', cy='58%', fill='#c6e48b', data-count='3', data-date='2016-10-19')
    circle.day(r='1.8%', cx='-19', cy='62%', fill='#ffffff', data-count='0', data-date='2016-10-20')
    circle.day(r='1.8%', cx='-19', cy='76%', fill='#c6e48b', data-count='3', data-date='2016-10-21')
    circle.day(r='1.8%', cx='-19', cy='35%', fill='#ffffff', data-count='0', data-date='2016-10-22')
  g(transform='translate(429, 0)')
    circle.day(r='1.8%', cx='-20', cy='2%', fill='#ffffff', data-count='0', data-date='2016-10-23')
    circle.day(r='1.8%', cx='-20', cy='16%', fill='#c6e48b', data-count='1', data-date='2016-10-24')
    circle.day(r='1.8%', cx='-20', cy='76%', fill='#7bc96f', data-count='5', data-date='2016-10-25')
    circle.day(r='1.8%', cx='-20', cy='58%', fill='#7bc96f', data-count='9', data-date='2016-10-26')
    circle.day(r='1.8%', cx='-20', cy='62%', fill='#7bc96f', data-count='5', data-date='2016-10-27')
    circle.day(r='1.8%', cx='-20', cy='76%', fill='#c6e48b', data-count='1', data-date='2016-10-28')
    circle.day(r='1.8%', cx='-20', cy='35%', fill='#c6e48b', data-count='1', data-date='2016-10-29')
  g(transform='translate(442, 0)')
    circle.day(r='1.8%', cx='-21', cy='2%', fill='#c6e48b', data-count='1', data-date='2016-10-30')
    circle.day(r='1.8%', cx='-21', cy='16%', fill='#ffffff', data-count='0', data-date='2016-10-31')
    circle.day(r='1.8%', cx='-21', cy='76%', fill='#ffffff', data-count='0', data-date='2016-11-01')
    circle.day(r='1.8%', cx='-21', cy='58%', fill='#c6e48b', data-count='1', data-date='2016-11-02')
    circle.day(r='1.8%', cx='-21', cy='62%', fill='#ffffff', data-count='0', data-date='2016-11-03')
    circle.day(r='1.8%', cx='-21', cy='76%', fill='#c6e48b', data-count='1', data-date='2016-11-04')
    circle.day(r='1.8%', cx='-21', cy='35%', fill='#ffffff', data-count='0', data-date='2016-11-05')
  g(transform='translate(455, 0)')
    circle.day(r='1.8%', cx='-22', cy='2%', fill='#ffffff', data-count='0', data-date='2016-11-06')
    circle.day(r='1.8%', cx='-22', cy='16%', fill='#ffffff', data-count='0', data-date='2016-11-07')
    circle.day(r='1.8%', cx='-22', cy='76%', fill='#c6e48b', data-count='1', data-date='2016-11-08')
    circle.day(r='1.8%', cx='-22', cy='58%', fill='#ffffff', data-count='0', data-date='2016-11-09')
    circle.day(r='1.8%', cx='-22', cy='62%', fill='#ffffff', data-count='0', data-date='2016-11-10')
    circle.day(r='1.8%', cx='-22', cy='76%', fill='#c6e48b', data-count='1', data-date='2016-11-11')
    circle.day(r='1.8%', cx='-22', cy='35%', fill='#ffffff', data-count='0', data-date='2016-11-12')
  g(transform='translate(468, 0)')
    circle.day(r='1.8%', cx='-23', cy='2%', fill='#ffffff', data-count='0', data-date='2016-11-13')
    circle.day(r='1.8%', cx='-23', cy='16%', fill='#c6e48b', data-count='1', data-date='2016-11-14')
    circle.day(r='1.8%', cx='-23', cy='76%', fill='#c6e48b', data-count='2', data-date='2016-11-15')
    circle.day(r='1.8%', cx='-23', cy='58%', fill='#ffffff', data-count='0', data-date='2016-11-16')
    circle.day(r='1.8%', cx='-23', cy='62%', fill='#ffffff', data-count='0', data-date='2016-11-17')
    circle.day(r='1.8%', cx='-23', cy='76%', fill='#ffffff', data-count='0', data-date='2016-11-18')
    circle.day(r='1.8%', cx='-23', cy='35%', fill='#ffffff', data-count='0', data-date='2016-11-19')
  g(transform='translate(481, 0)')
    circle.day(r='1.8%', cx='-24', cy='2%', fill='#ffffff', data-count='0', data-date='2016-11-20')
    circle.day(r='1.8%', cx='-24', cy='16%', fill='#c6e48b', data-count='1', data-date='2016-11-21')
    circle.day(r='1.8%', cx='-24', cy='76%', fill='#ffffff', data-count='0', data-date='2016-11-22')
    circle.day(r='1.8%', cx='-24', cy='58%', fill='#239a3b', data-count='12', data-date='2016-11-23')
    circle.day(r='1.8%', cx='-24', cy='62%', fill='#c6e48b', data-count='4', data-date='2016-11-24')
    circle.day(r='1.8%', cx='-24', cy='76%', fill='#c6e48b', data-count='4', data-date='2016-11-25')
    circle.day(r='1.8%', cx='-24', cy='35%', fill='#ffffff', data-count='0', data-date='2016-11-26')
  g(transform='translate(494, 0)')
    circle.day(r='1.8%', cx='-25', cy='2%', fill='#c6e48b', data-count='1', data-date='2016-11-27')
    circle.day(r='1.8%', cx='-25', cy='16%', fill='#ffffff', data-count='0', data-date='2016-11-28')
    circle.day(r='1.8%', cx='-25', cy='76%', fill='#ffffff', data-count='0', data-date='2016-11-29')
    circle.day(r='1.8%', cx='-25', cy='58%', fill='#ffffff', data-count='0', data-date='2016-11-30')
    circle.day(r='1.8%', cx='-25', cy='62%', fill='#c6e48b', data-count='4', data-date='2016-12-01')
    circle.day(r='1.8%', cx='-25', cy='76%', fill='#c6e48b', data-count='3', data-date='2016-12-02')
    circle.day(r='1.8%', cx='-25', cy='35%', fill='#ffffff', data-count='0', data-date='2016-12-03')
  g(transform='translate(507, 0)')
    circle.day(r='1.8%', cx='-26', cy='2%', fill='#ffffff', data-count='0', data-date='2016-12-04')
    circle.day(r='1.8%', cx='-26', cy='16%', fill='#c6e48b', data-count='3', data-date='2016-12-05')
    circle.day(r='1.8%', cx='-26', cy='76%', fill='#ffffff', data-count='0', data-date='2016-12-06')
    circle.day(r='1.8%', cx='-26', cy='58%', fill='#c6e48b', data-count='3', data-date='2016-12-07')
    circle.day(r='1.8%', cx='-26', cy='62%', fill='#c6e48b', data-count='2', data-date='2016-12-08')
    circle.day(r='1.8%', cx='-26', cy='76%', fill='#ffffff', data-count='0', data-date='2016-12-09')
    circle.day(r='1.8%', cx='-26', cy='35%', fill='#ffffff', data-count='0', data-date='2016-12-10')
  g(transform='translate(520, 0)')
    circle.day(r='1.8%', cx='-27', cy='2%', fill='#c6e48b', data-count='4', data-date='2016-12-11')
    circle.day(r='1.8%', cx='-27', cy='16%', fill='#c6e48b', data-count='3', data-date='2016-12-12')
    circle.day(r='1.8%', cx='-27', cy='76%', fill='#c6e48b', data-count='4', data-date='2016-12-13')
    circle.day(r='1.8%', cx='-27', cy='58%', fill='#196127', data-count='14', data-date='2016-12-14')
    circle.day(r='1.8%', cx='-27', cy='62%', fill='#c6e48b', data-count='4', data-date='2016-12-15')
    circle.day(r='1.8%', cx='-27', cy='76%', fill='#7bc96f', data-count='6', data-date='2016-12-16')
    circle.day(r='1.8%', cx='-27', cy='35%', fill='#ffffff', data-count='0', data-date='2016-12-17')
  g(transform='translate(533, 0)')
    circle.day(r='1.8%', cx='-28', cy='2%', fill='#ffffff', data-count='0', data-date='2016-12-18')
    circle.day(r='1.8%', cx='-28', cy='16%', fill='#7bc96f', data-count='5', data-date='2016-12-19')
    circle.day(r='1.8%', cx='-28', cy='76%', fill='#239a3b', data-count='10', data-date='2016-12-20')
    circle.day(r='1.8%', cx='-28', cy='58%', fill='#7bc96f', data-count='8', data-date='2016-12-21')
    circle.day(r='1.8%', cx='-28', cy='62%', fill='#ffffff', data-count='0', data-date='2016-12-22')
    circle.day(r='1.8%', cx='-28', cy='76%', fill='#ffffff', data-count='0', data-date='2016-12-23')
    circle.day(r='1.8%', cx='-28', cy='35%', fill='#ffffff', data-count='0', data-date='2016-12-24')
  g(transform='translate(546, 0)')
    circle.day(r='1.8%', cx='-29', cy='2%', fill='#ffffff', data-count='0', data-date='2016-12-25')
    circle.day(r='1.8%', cx='-29', cy='16%', fill='#c6e48b', data-count='1', data-date='2016-12-26')
    circle.day(r='1.8%', cx='-29', cy='76%', fill='#c6e48b', data-count='2', data-date='2016-12-27')
    circle.day(r='1.8%', cx='-29', cy='58%', fill='#c6e48b', data-count='2', data-date='2016-12-28')
    circle.day(r='1.8%', cx='-29', cy='62%', fill='#c6e48b', data-count='1', data-date='2016-12-29')
    circle.day(r='1.8%', cx='-29', cy='76%', fill='#ffffff', data-count='0', data-date='2016-12-30')
    circle.day(r='1.8%', cx='-29', cy='35%', fill='#ffffff', data-count='0', data-date='2016-12-31')
  g(transform='translate(559, 0)')
    circle.day(r='1.8%', cx='-30', cy='2%', fill='#ffffff', data-count='0', data-date='2017-01-01')
    circle.day(r='1.8%', cx='-30', cy='16%', fill='#ffffff', data-count='0', data-date='2017-01-02')
    circle.day(r='1.8%', cx='-30', cy='76%', fill='#7bc96f', data-count='8', data-date='2017-01-03')
    circle.day(r='1.8%', cx='-30', cy='58%', fill='#7bc96f', data-count='9', data-date='2017-01-04')
    circle.day(r='1.8%', cx='-30', cy='62%', fill='#7bc96f', data-count='7', data-date='2017-01-05')
    circle.day(r='1.8%', cx='-30', cy='76%', fill='#c6e48b', data-count='4', data-date='2017-01-06')
    circle.day(r='1.8%', cx='-30', cy='35%', fill='#c6e48b', data-count='2', data-date='2017-01-07')
  g(transform='translate(572, 0)')
    circle.day(r='1.8%', cx='-31', cy='2%', fill='#c6e48b', data-count='2', data-date='2017-01-08')
    circle.day(r='1.8%', cx='-31', cy='16%', fill='#c6e48b', data-count='3', data-date='2017-01-09')
    circle.day(r='1.8%', cx='-31', cy='76%', fill='#c6e48b', data-count='3', data-date='2017-01-10')
    circle.day(r='1.8%', cx='-31', cy='58%', fill='#7bc96f', data-count='5', data-date='2017-01-11')
    circle.day(r='1.8%', cx='-31', cy='62%', fill='#239a3b', data-count='10', data-date='2017-01-12')
    circle.day(r='1.8%', cx='-31', cy='76%', fill='#c6e48b', data-count='4', data-date='2017-01-13')
    circle.day(r='1.8%', cx='-31', cy='35%', fill='#c6e48b', data-count='1', data-date='2017-01-14')
  g(transform='translate(585, 0)')
    circle.day(r='1.8%', cx='-32', cy='2%', fill='#7bc96f', data-count='6', data-date='2017-01-15')
    circle.day(r='1.8%', cx='-32', cy='16%', fill='#7bc96f', data-count='7', data-date='2017-01-16')
    circle.day(r='1.8%', cx='-32', cy='76%', fill='#7bc96f', data-count='8', data-date='2017-01-17')
    circle.day(r='1.8%', cx='-32', cy='58%', fill='#7bc96f', data-count='7', data-date='2017-01-18')
    circle.day(r='1.8%', cx='-32', cy='62%', fill='#c6e48b', data-count='2', data-date='2017-01-19')
    circle.day(r='1.8%', cx='-32', cy='76%', fill='#7bc96f', data-count='7', data-date='2017-01-20')
    circle.day(r='1.8%', cx='-32', cy='35%', fill='#c6e48b', data-count='1', data-date='2017-01-21')
  g(transform='translate(598, 0)')
    circle.day(r='1.8%', cx='-33', cy='2%', fill='#c6e48b', data-count='2', data-date='2017-01-22')
    circle.day(r='1.8%', cx='-33', cy='16%', fill='#c6e48b', data-count='4', data-date='2017-01-23')
    circle.day(r='1.8%', cx='-33', cy='76%', fill='#239a3b', data-count='10', data-date='2017-01-24')
    circle.day(r='1.8%', cx='-33', cy='58%', fill='#c6e48b', data-count='4', data-date='2017-01-25')
    circle.day(r='1.8%', cx='-33', cy='62%', fill='#c6e48b', data-count='4', data-date='2017-01-26')
    circle.day(r='1.8%', cx='-33', cy='76%', fill='#c6e48b', data-count='4', data-date='2017-01-27')
    circle.day(r='1.8%', cx='-33', cy='35%', fill='#c6e48b', data-count='2', data-date='2017-01-28')
  g(transform='translate(611, 0)')
    circle.day(r='1.8%', cx='-34', cy='2%', fill='#c6e48b', data-count='2', data-date='2017-01-29')
    circle.day(r='1.8%', cx='-34', cy='16%', fill='#7bc96f', data-count='6', data-date='2017-01-30')
    circle.day(r='1.8%', cx='-34', cy='76%', fill='#7bc96f', data-count='5', data-date='2017-01-31')
    circle.day(r='1.8%', cx='-34', cy='58%', fill='#7bc96f', data-count='5', data-date='2017-02-01')
    circle.day(r='1.8%', cx='-34', cy='62%', fill='#7bc96f', data-count='8', data-date='2017-02-02')
    circle.day(r='1.8%', cx='-34', cy='76%', fill='#ffffff', data-count='0', data-date='2017-02-03')
    circle.day(r='1.8%', cx='-34', cy='35%', fill='#ffffff', data-count='0', data-date='2017-02-04')
  g(transform='translate(624, 0)')
    circle.day(r='1.8%', cx='-35', cy='2%', fill='#ffffff', data-count='0', data-date='2017-02-05')
    circle.day(r='1.8%', cx='-35', cy='16%', fill='#ffffff', data-count='0', data-date='2017-02-06')
    circle.day(r='1.8%', cx='-35', cy='76%', fill='#7bc96f', data-count='6', data-date='2017-02-07')
    circle.day(r='1.8%', cx='-35', cy='58%', fill='#7bc96f', data-count='7', data-date='2017-02-08')
    circle.day(r='1.8%', cx='-35', cy='62%', fill='#7bc96f', data-count='7', data-date='2017-02-09')
    circle.day(r='1.8%', cx='-35', cy='76%', fill='#7bc96f', data-count='5', data-date='2017-02-10')
    circle.day(r='1.8%', cx='-35', cy='35%', fill='#ffffff', data-count='0', data-date='2017-02-11')
  g(transform='translate(637, 0)')
    circle.day(r='1.8%', cx='-36', cy='2%', fill='#c6e48b', data-count='3', data-date='2017-02-12')
    circle.day(r='1.8%', cx='-36', cy='16%', fill='#7bc96f', data-count='9', data-date='2017-02-13')
    circle.day(r='1.8%', cx='-36', cy='76%', fill='#c6e48b', data-count='2', data-date='2017-02-14')
    circle.day(r='1.8%', cx='-36', cy='58%', fill='#c6e48b', data-count='2', data-date='2017-02-15')
    circle.day(r='1.8%', cx='-36', cy='62%', fill='#7bc96f', data-count='8', data-date='2017-02-16')
    circle.day(r='1.8%', cx='-36', cy='76%', fill='#196127', data-count='15', data-date='2017-02-17')
    circle.day(r='1.8%', cx='-36', cy='35%', fill='#ffffff', data-count='0', data-date='2017-02-18')
  g(transform='translate(650, 0)')
    circle.day(r='1.8%', cx='-37', cy='2%', fill='#ffffff', data-count='0', data-date='2017-02-19')
    circle.day(r='1.8%', cx='-37', cy='16%', fill='#c6e48b', data-count='1', data-date='2017-02-20')
    circle.day(r='1.8%', cx='-37', cy='76%', fill='#c6e48b', data-count='3', data-date='2017-02-21')
    circle.day(r='1.8%', cx='-37', cy='58%', fill='#239a3b', data-count='10', data-date='2017-02-22')
    circle.day(r='1.8%', cx='-37', cy='62%', fill='#196127', data-count='14', data-date='2017-02-23')
    circle.day(r='1.8%', cx='-37', cy='76%', fill='#c6e48b', data-count='3', data-date='2017-02-24')
    circle.day(r='1.8%', cx='-37', cy='35%', fill='#c6e48b', data-count='2', data-date='2017-02-25')
  g(transform='translate(663, 0)')
    circle.day(r='1.8%', cx='-38', cy='2%', fill='#c6e48b', data-count='3', data-date='2017-02-26')
    circle.day(r='1.8%', cx='-38', cy='16%', fill='#196127', data-count='36', data-date='2017-02-27')
    circle.day(r='1.8%', cx='-38', cy='76%', fill='#196127', data-count='22', data-date='2017-02-28')
    circle.day(r='1.8%', cx='-38', cy='58%', fill='#7bc96f', data-count='8', data-date='2017-03-01')
    circle.day(r='1.8%', cx='-38', cy='62%', fill='#c6e48b', data-count='1', data-date='2017-03-02')
    circle.day(r='1.8%', cx='-38', cy='76%', fill='#c6e48b', data-count='2', data-date='2017-03-03')
    circle.day(r='1.8%', cx='-38', cy='35%', fill='#ffffff', data-count='0', data-date='2017-03-04')
  g(transform='translate(676, 0)')
    circle.day(r='1.8%', cx='-39', cy='2%', fill='#c6e48b', data-count='1', data-date='2017-03-05')
    circle.day(r='1.8%', cx='-39', cy='16%', fill='#7bc96f', data-count='7', data-date='2017-03-06')
    circle.day(r='1.8%', cx='-39', cy='76%', fill='#7bc96f', data-count='9', data-date='2017-03-07')
    circle.day(r='1.8%', cx='-39', cy='58%', fill='#7bc96f', data-count='6', data-date='2017-03-08')
    circle.day(r='1.8%', cx='-39', cy='62%', fill='#7bc96f', data-count='6', data-date='2017-03-09')
    circle.day(r='1.8%', cx='-39', cy='76%', fill='#7bc96f', data-count='7', data-date='2017-03-10')
    circle.day(r='1.8%', cx='-39', cy='35%', fill='#ffffff', data-count='0', data-date='2017-03-11')
