extends layout

block title
  title Matthew Crider

block content

      .hero.text-center
        h1 Matthew Crider
        h2 Frontend - Backend - DevOps - UX

      .row.text-center
        .bio
          p I’m a web developer with skills up and down the web stack, with years of experience in back-end and front-end web development and an eye to great experience design.
          p I learned how to build my first website from the manual that came with Netscape Navigator (back when you got software on a floppy disk and HTML tags were in all caps).  From that point on, I’ve had a connection with the web and watched it grow from blink tags, cgi-bin and Geocities to SVG, Node.js and AWS.  It has a long way to go but I’m doing my damnedest to help get it there.
          p In school I studied something called Cognitive Science, because at my core I'm passionate about a lot of wide-ranging disciplines.  I’ve studied the texts of great philosophers and the Github repos of little-known engineers.  And this may be why the web is so fascinating to me — it democratizes the distribution of the knowledge I’m always hungry for.  But I’m conscious of the fact that knowledge can't be dumped on a screen and expected to be ingested; proper presentation is both an art and a science and is something I’ll spend my life mastering.
          p Please <a href="mailto:mattcrider@gmail.com">reach out to me</a> if you would like to discuss working together on a project. Resumé and selected projects available upon request.
          a.resume-label(target='_blank', href='/media/resume.pdf') Download My Resume

      .row.text-center
        .large-12.columns
          ul.inline-list.social-links
            li
              a(href='http://twitter.com/mcriddy')
                img(src='/images/social_icons/twitter.svg')
            li
              a(href='http://github.com/mcrider')
                img(src='/images/social_icons/github.svg')
            li
              a(href='http://www.linkedin.com/in/mcrider/')
                img(src='/images/social_icons/linkedin.svg')
            li
              a(href='http://www.flickr.com/photos/33460719@N07/')
                img(src='/images/social_icons/flickr.svg')
    
