doctype html
html(lang='en')
  head

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')

    block title
      title Matthew Crider

    meta(name='description', content='Matthew Crider is a web developer with skills up and down the web stack, with years of experience in backend and front-end web development.')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', type='text/css', href='/css/main.css')
    

    //if lt IE 9
      script(src='//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
    //if lt IE 10
      link(rel='stylesheet', type='text/css', href='/css/ie.css')
  body
    //- header
      //- h1 Capo Capo
    main
      block content
    //- footer
    //- script(src='/scripts/app.js')
