.contact {
  .contact-info {
    a {
      font-size: 1.8rem;
    }
  }
  .avenues {
    margin-top: 20px;
  }
  .social-links {
    margin-top: 10px;
  }
  .rule {
    margin-top: 20px;
    border-top: 1px solid #ddd;
  }
}