.hero {
  margin: 80px 0 70px 0;

  @include media($mobile) {
    margin: 30px 0 20px 0;
  }

  h1 {
    font-size: 48px;
    line-height: 48px;
    margin: 0 0 10px 0;
  }

  h2 {
    font-size: 12px;
    padding: 0 15px;
  }
}

.graph {
  width: 100%; height: auto;
}

.bio {
  max-width: 480px;
  margin: 60px auto 80px auto;
  padding: 0 15px;

  @include media($mobile) {
    margin: 30px 0 20px 0;
  }

}

.social-links {
  display: inline-block;
  margin: 60px auto 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 480px;

  li {
    list-style: none;
    float: left;
    width: 20%;
  }

  a {
    text-decoration: none;
  }

  img {
    height: 32px; width: auto;
    display: inline-block;

    &:hover {
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95);
    }
  }

  p {
    @extend h2;
    font-size: 10px;
    text-align: center;
    margin: 5px 0;
  }
}


svg {
  width: 100%;
}

svg g {
  width: 1.9230769231%;
}
