.hero {
  h1 {
    font-size: 48px;
    margin: 60px 0 10px 0;
  }

  h2 {
    font-size: 12px;
  }
}

.bio {
  @include span-columns(6);
  @include shift(3);
}

.social-links {
  display: inline-block;
  margin: 40px 0 80px 0;
  padding: 0;

  li {
    list-style: none;
    float: left;
    width: 25%;
  }

  img {
    height: 40px; width: auto;
    display: inline-block;

    &:hover {
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95);
    }
  }
}
