
body {
  font-size: 18px;
  color: $body-font-color;
}
h1 {
  font-family: $serif-font;
  font-weight: 300;
}
h2, h3, h4, h5 {
  font-family: $sans-serif-font;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #969696;
  text-transform: uppercase;
}

p {
  font-family: $serif-font;
  font-weight: 400;
  text-align: justify;
}

a {
  color: #000;
}
